<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..\static\bootstrap\css\bootstrap.min.css">
</head>
<body class="bg-black">

  <h1>Prueba2</h1>
  <hr>
  <h2 style="background-color: grey; color: goldenrod">
    </span> ID: <span th:text="${id}">
    </span> Nombre: <span th:text="${str}">
    </span> Cod: <span th:text="${cod}">
    </span>
  </h2>
  <hr>

  <script src="..\static\bootstrap\js\bootstrap.min.js"></script>
  <script src="..\static\bootstrap\js\bootstrap.bundle.min.js"></script>
</body>
</html>